.division-text{
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: left;
    padding-bottom: 14px;
}

.small-text{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 24.7px;
    text-align: left;
    color: #8A92A6;
}