.division-text{
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: left;
    padding-bottom: 14px;
}

.small-text{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 24.7px;
    text-align: left;
    color: #8A92A6;
}

.image-editor {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .image {
    width: 40vw;
    height: 30vh;
    background-color: #f0f0f0;
    margin-right: 10px;
  }
  
  .file-input {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #674188;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: "max-content";  
  }

  #file-input {
    display: none;
  }

  .Loader {
    --backgroundColor: #674188 !important;
    display: inline-flex;
    gap: var(--loader-gap);
    padding: calc(var(--loader-size)* .25);
}