.TabsLine_type_border {
    --line-thickness: 0 !important;
    background-color: var(--color-control-bg-border-default);
}

.TabsLine_type_running {
    --line-thickness: 0px;
    background-color: var(--color-control-bg-primary);
    transition: transform .25s, width .25s, height .25s;
}

.MixFocus {
    --mix-focus-color-one: none;
    --mix-focus-color-two: var(--color-control-bg-active);
    --mix-focus-animation: Animation--MixFocus 0.5s ease-in;
}

.elem::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.Text.ListItem.TabsTab{
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: left;
    padding-bottom: 14px;
}