html {
  font-family: "Inter", Arial, sans-serif;
  scroll-behavior: smooth;
}

.page {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
