.menu-vertical{
    background: #FFFBF5;
    width: 15%;
    flex-shrink: 0; 
    gap: 16px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.text-on-top{
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 29.9px;
    text-align: left;
}

.Button:focus, .Button:focus-within, .Button:hover{
    background-color: #674188;
    color: #FFFBF5;
}

