.book {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(247, 239, 229, 1);
}

.background {
  width: 100%;
  height: 224px;
  background-image: url("../../../assets/Фон_главной_страницы.svg");
  background-size: 100% 224px;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-container {
  position: relative;
  margin: -70px 30px 13px;
  // z-index: 1;

  background-color: rgba(255, 251, 245, 1);
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.item-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

.item-label {
  color: rgba(138, 146, 166, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.collapse-text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}

.Collapse-Body_isOpen {
  width: 245%;
}

.Collapse-Content {
  width: 500%;
}

.book__comment:disabled {
  color: white;
  opacity: 0.6;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  background-color: rgba(255, 251, 245, 1);
  color: black;
  border-radius: 10px;
  margin-left: 12%;
  width: 900px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 25px;
}
